html {
  font-size: 16px;
}

body {
  font-family: "Helvetica Neue", Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 10px;
  background: #F2F1ED;
  color: #444;
}

nav * {
  font-size: 1rem;
}

#numeroPergunta {
  width: 60px;
  text-align: center;
}

#perguntaInicial {
  margin-left: 1px;
  height: 25px;
  width: 150px;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
}

#quantidadePerguntas {
  width: 60px;
  text-align: center;
}

article {
  margin-bottom: 78px;
}

.questao {
  margin-left: 20px;
  padding: 1px 16px;
  border-left: 2px solid #7E51DE;
  color: #7E51DE;
}

.comentario {
  color: #444;
}